<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" id="logo">Snglss</li>
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'shop'}}Shop{{/link-to}}</li>
    <li role="presentation">{{#link-to 'cart'}}<i class="fa fa-shopping-cart" aria-hidden="true"></i>{{/link-to}}</li>
    <li role="presentation">{{admin-portal}}</li>
  </ul>
  {{outlet}}
</div>
