<h1 id="logo">Snglss</h1>
{{#link-to 'index'}}<h2>Home</h2>{{/link-to}}
{{#link-to 'shop'}}<h2>Shop</h2>{{/link-to}}
{{#link-to 'cart'}}<i class="fa fa-shopping-cart" aria-hidden="true"></i>{{/link-to}}
{{admin-portal}}
{{outlet}}
